@import "tailwindcss";

:root {
  --background: #fefefe;
  --textColor: #111111;
  --light: #67696b; 
  --borderColor: #e6e6e6;
  --baseColor: #fcfcfc;
  --extraLight: #c3c3c3;
}

@theme inline {
  --color-background: var(--background);
  --color-textColor: var(--textColor);
  --font-sans: var(--font-inter);
  --color-lightColor: var(--light);
  --color-borderColor: var(--borderColor);
  --color-baseColor: var(--baseColor);
  --color-extraLight: var(--extraLight);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  html {
    font-family: 'Inter', sans-serif; 
  }

  body {
      background: var(--background);
      @apply font-light text-sm md:text-base;
  }

  h1{
    @apply font-semibold text-3xl md:text-4xl tracking-tight text-textColor;
  }

  h3{
    @apply font-semibold text-sm md:text-base tracking-tight text-lightColor;
  }
}

.loader {
  width: 45px;
  height: 40px;
  background:
    linear-gradient(#0000 calc(1*100%/6), var(--color-textColor) 0 calc(3*100%/6), #0000 0),
    linear-gradient(#0000 calc(2*100%/6), var(--color-textColor) 0 calc(4*100%/6), #0000 0),
    linear-gradient(#0000 calc(3*100%/6), var(--color-textColor) 0 calc(5*100%/6), #0000 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
  margin: auto;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%;
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%;
  }
}

.navbarLink{
  @apply text-lightColor hover:text-textColor duration-300 ease-in-out transition-colors text-xs font-medium;
}

.navSidebarLink{
  @apply text-lightColor hover:text-textColor duration-300 ease-in-out transition-colors text-sm font-medium;
}

.section{
  @apply flex w-full py-20 items-center justify-center px-12 md:px-32 border-b border-borderColor
}

.toggleXbutton{
  @apply flex cursor-pointer text-extraLight hover:text-lightColor duration-300 ease-in-out transition-colors disabled:cursor-not-allowed disabled:hover:text-extraLight
}

.accountDropdownLink{
  @apply flex flex-col gap-2 py-2 px-4 font-normal text-sm items-center text-center w-full hover:text-textColor duration-300 ease-in-out transition-colors text-lightColor;
}

.authInput{
  @apply w-full px-4 py-2 outline-none rounded-full border border-borderColor
}

.authButton1 {
  @apply flex w-full justify-between items-center border border-borderColor py-2 px-4 rounded-full font-medium cursor-pointer hover:bg-borderColor/30 duration-300 ease-in-out transition-colors;
}

.authButton2{
  @apply flex w-full justify-center items-center bg-textColor text-background py-2 px-4 rounded-full font-medium cursor-pointer
}

.collectionItem{
  @apply flex pb-10 py-5 px-4 w-full bg-borderColor/50 border border-extraLight rounded-lg font-semibold text-base transition-all duration-300 ease-in-out text-lightColor items-center justify-between hover:bg-borderColor/70 mb-2
}

.dashboardActionItem{
  @apply my-1 gap-2 py-2 px-3 flex flex-row items-center justify-between border border-borderColor rounded-md
}

.footerLink {
  @apply flex flex-row gap-2 items-center tracking-tight text-sm opacity-60 hover:opacity-100 ease-in-out transition-all duration-300
}

.formLabel{
  @apply flex font-medium text-lightColor
}

.formInput{
  @apply flex px-3 py-1 border border-borderColor rounded-md focus:outline-none focus:ring focus:ring-extraLight w-full transition-all duration-300 ease-in-out font-normal bg-background
}

.formBlackButton {
  @apply flex px-3 py-2 items-center justify-center rounded-md font-medium text-sm text-background bg-textColor cursor-pointer
}

.formButton {
  @apply flex px-3 py-1 items-center justify-between rounded-md font-medium border-extraLight text-lightColor bg-baseColor border cursor-pointer hover:bg-borderColor/20 transition-all ease-in-out duration-300
}

.formSelect {
  @apply flex px-3 py-1 border border-borderColor rounded-md focus:outline-none focus:ring-1 focus:ring-extraLight w-full transition-all duration-300 ease-in-out font-normal appearance-none
}

.formDrag{
  @apply cursor-pointer flex w-full border border-dashed border-borderColor py-6 items-center justify-center font-medium text-extraLight text-xs hover:border-extraLight hover:text-lightColor transition-colors ease-in-out duration-300
}

.formDrawer {
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
  overflow: hidden;
}

.dropdownSortItem {
  @apply flex w-full text-center items-center justify-center text-lightColor py-2 cursor-pointer;
}

.tooltip {
  @apply rounded-full flex flex-row font-semibold uppercase bg-textColor text-background py-2 pl-2 pr-4 text-xs items-center justify-center shadow-lg
}

.sidebar {
  @apply h-full border-r border-borderColor gap-1 px-3 w-64 transition-transform duration-300 ease-in-out;
}

.sidebarButton {
  @apply rounded-md text-sm font-normal w-full transition-all ease-in-out duration-300 cursor-pointer disabled:bg-transparent disabled:cursor-default;
}

.accountSaveButton{
  @apply rounded border flex gap-2 items-center border-borderColor px-2 py-1 uppercase text-xs font-medium text-lightColor hover:bg-baseColor duration-300 transition-colors ease-in-out cursor-pointer
}