@import "tailwindcss";

:root {
  --background: #fffefe;
  --textColor: #111111;
  --light: #67696b; 
  --borderColor: #e6e6e6;
}

@theme inline {
  --color-background: var(--background);
  --color-textColor: var(--textColor);
  --font-sans: var(--font-inter);
  --color-lightColor: var(--light);
  --color-borderColor: var(--borderColor);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  html {
    font-family: 'Inter', sans-serif; 
  }

  body {
      background: var(--background);
      @apply font-light text-sm md:text-base;
  }

  h1{
    @apply font-semibold text-4xl md:text-5xl tracking-tight text-textColor;
  }
}


.navbarLink{
  @apply text-lightColor hover:text-textColor duration-300 ease-in-out transition-colors text-sm font-medium;
}